# langfuse

# init

LANGFUSE_INIT_ORG_ID=my-org
LANGFUSE_INIT_ORG_NAME='My Org'
LANGFUSE_INIT_PROJECT_ID=genai-shopping-assistant
LANGFUSE_INIT_PROJECT_NAME='GenAI Shopping Assistant'
LANGFUSE_INIT_PROJECT_RETENTION=365
LANGFUSE_INIT_PROJECT_PUBLIC_KEY=lf_pk_1234567890
LANGFUSE_INIT_PROJECT_SECRET_KEY=lf_sk_1234567890
LANGFUSE_INIT_USER_EMAIL=example@email.com
LANGFUSE_INIT_USER_NAME='John Doe'
LANGFUSE_INIT_USER_PASSWORD=Password@123

## worker
LANGFUSE_WORKER_PORT=3031
LANGFUSE_WEB_PORT=3001

## clickhouse
LANGFUSE_CLICKHOUSE_WEB_PORT=8124
LANGFUSE_CLICKHOUSE_INTER_PORT=8999

## minio
LANGFUSE_MINIO_S3_API_PORT=9091
LANGFUSE_MINIO_WEB_PORT=9002

## redis
LANGFUSE_REDIS_PORT=6380

## postgres
LANGFUSE_POSTGRES_PORT=5433
