# langfuse

## worker
LANGFUSE_WORKER_PORT=3030
LANGFUSE_WEB_PORT=3000

## clickhouse
LANGFUSE_CLICKHOUSE_WEB_PORT=8123
LANGFUSE_CLICKHOUSE_INTER_PORT=9000

## minio
LANGFUSE_MINIO_S3_API_PORT=9090
LANGFUSE_MINIO_WEB_PORT=9001

## redis
LANGFUSE_REDIS_PORT=6379

## postgres
LANGFUSE_POSTGRES_PORT=5432
