# langfuse

## worker
LANGFUSE_WORKER_PORT=3031
LANGFUSE_WEB_PORT=3001

## clickhouse
LANGFUSE_CLICKHOUSE_WEB_PORT=8124
LANGFUSE_CLICKHOUSE_INTER_PORT=8999

## minio
LANGFUSE_MINIO_S3_API_PORT=9091
LANGFUSE_MINIO_WEB_PORT=9002

## redis
LANGFUSE_REDIS_PORT=6380

## postgres
LANGFUSE_POSTGRES_PORT=5433
